// Core app palette used by Quasar components.
$primary   : #d22630;
$secondary : #3f556b;
$accent    : #4f6d7a;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
